.container{
    display: flex;
    max-width: 580px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: flex-start;
    gap: 30px;
}

div.outer {
    align-items: center;
    flex-direction: column-reverse;
    display: inline-flex;
    height: 100px;
    width: 100px;
  }


    div.inner_first {
    height: 100%;
    width: 100%;
    animation: first_anim 300ms ease-in-out infinite alternate;
  }

  div.outer div.inner_first:nth-child(1){
    border-top: 2px solid black;
    width: 70%;
  }

  div.outer div.inner_first:nth-child(2){
    border-top: 4px solid black;
    width: 60%;
  }

  div.outer div.inner_first:nth-child(3){
    border-top: 8px solid black;
    width: 80%;
  }

  div.outer div.inner_first:nth-child(4){
    border-top: 2px solid black;
    width: 100%;
  }
  


  div.inner_second {
    height: 100%;
    width: 100%;
    animation: second_anim 600ms ease-in-out infinite alternate-reverse;
  }

  div.outer div.inner_second:nth-child(1){
    border-top: 2px solid black;
    width: 70%;
    animation-delay: 300ms;
  }

  div.outer div.inner_second:nth-child(2){
    border-top: 4px solid black;
    width: 60%;
    animation-delay: 400ms;
  }

  div.outer div.inner_second:nth-child(3){
    border-top: 8px solid black;
    width: 80%;
    animation-delay: 500ms;
  }

  div.outer div.inner_second:nth-child(4){
    border-top: 2px solid black;
    width: 100%;
    animation-delay: 600ms;
  }



  div.inner_third {
    height: 100%;
    width: 100%;
  }

  div.outer div.inner_third:nth-child(1){
    border-top: 2px solid black;
    width: 70%;
    animation: thid_anim 300ms ease-in-out infinite alternate;
  }

  div.outer div.inner_third:nth-child(2){
    border-top: 4px solid black;
    width: 60%;
    animation: fourth_anim 300ms ease-in-out infinite alternate;    
  }

  div.outer div.inner_third:nth-child(3){
    border-top: 8px solid black;
    width: 80%;
    animation: third_anim 300ms ease-in-out infinite alternate;
  }

  div.outer div.inner_third:nth-child(4){
    border-top: 2px solid black;
    width: 100%;
    animation: fourth_anim 300ms ease-in-out infinite alternate;
  }

  @keyframes first_anim{
    0% {height: 100%; transform: rotate(0);}
    100% {height: 0%; transform: rotate(10deg);}
  }

  @keyframes second_anim{
    0% {height: 100%;}
    100% {height: 0%;}
  }

  @keyframes third_anim{
    0% {height: 100%; transform: rotate(0);}
    100% {height: 30%; transform: rotate(12deg);}
  }

  @keyframes fourth_anim{
    0% {height: 100%; transform: rotate(0);}
    100% {height: 30%; transform: rotate(-12deg);}
  }

